{% extends "header.html" %}
{% block content %}
    <h1>About Our App</h1>
    <p></p>
       This is an application that was created using Python and Flask. The application includes an account based user
    interaction system. Users can go around the application and view statistics and information about any players From
    the provided NFL teams in our database. Users also have the option to comment about any player, and provide more information
     such as whether they plan to play this player again or how much they would rate the player. This is specifically done so that other
      users can get a better idea when they plan to make similar decisions. Users also have additional accessibility to their own interactions.
      For instance they can view all the comments they have made in the past and even change their usernames if need be. The application provides deep detail on
      every player and their performance throughout different seasons.
      <p></p>
      Disclaimer: The free version of the API provides access to only a certain number of teams and only those teams have been added
 to the group of choices. Often you might come across players that lack any statistical information, and this is because they haven't played during
 the respective season. 
    
    <p></p>
        Created by Pradyumn Bangera and Siddhesh Gupta
    
{% endblock %}