{% extends "header.html" %}

{% block content %}
<div class="row" style="padding-top: 10%;">
    <div class="col">
        <h2>Welcome To Fantasy Football Statistics!</h2>
        <p></p>
        Please select a team name to get detailed information on every player!
        <p></p>
        As of now, we have information available for just the Kansas City Chiefs!
    </div>
    <div class="col">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.search_query.label }}
                {{ form.search_query(class="form-control") }}

            </div>
            {{ form.submit() }}
        </form>
    </div>


</div>


{% endblock %}