{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<p><b>Error Message: {{ error_msg.message }}</b></p>
<p><b>Status Code: {{ error_msg.status_code }}</b></p>
{% endif %}

{% if player %}

<div class="card-header">
  <h2>{{ player.fullname }} ({{ player.cteam }} #{{player.jnum}})</h2>

</div>
<p>
<div class="row" style="margin-bottom: 60px;">
  <div class="col-sm-3">
    <div class="pricing box-shadow hover-up pricing--best" id="playerOneBox" style="background:#ffffff; border-radius:20px; padding: 40px; border: 4px salmon solid;">
      <div><b>DOB:</b> {{ player.dob }}</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="pricing box-shadow hover-up pricing--best" id="playerOneBox" style="background:#ffffff; border-radius:20px; padding: 28px; border: 4px salmon solid;">
      <div><b>Height (Inches), :</b> {{ player.height }}</div>
      <div><b>Weight (LBs):</b> {{ player.weight }}</div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="pricing box-shadow hover-up pricing--best" id="playerOneBox" style="background:#ffffff; border-radius:20px; padding: 40px; border: 4px salmon solid;">
      <div><b>Position:</b> {{ player.posd}}</div>
    </div>

  </div>
  <div class="col-sm-3">
    <div class="pricing box-shadow hover-up pricing--best" id="playerOneBox" style="background:#ffffff; border-radius:20px; padding: 40px; border: 4px salmon solid;">
      <div><b>College:</b> {{ player.col }}</div>
  </div>
</div>

<p></p>

  <div class="col">
      <div class="card-body" style="background:#ffffff; border-radius:20px; padding: 40px; border: 4px salmon solid; margin-top: 50px;">
        
        
          {% if player.type == 1 %}
            {% for game in player.oStyle %}
              <div class="row">
                <h2> Season: {{ game.year }} </h2>
                <div class="col-sm-4">
                  <br>
                  Week Number: {{ game.game }}
                  <br>
                  Team: {{ game.team }}
                  <br>
                  Game ID: {{ game.gid }}
                  <br>
                  Pass Attempts: {{ game.pa }}
                  <br>
                  Completions: {{ game.pc }}
                  <br>
                  Pass Yards: {{ game.py }}
                  <br>
                  Interceptions: {{ game.ints }}
                  <br>
                  Passing Touchdowns: {{ game.tdp }}
                  <br>
                  Rushing Attempts: {{ game.ra }}
                  <br>
                  Successful Rushing Attempts: {{ game.sra }}
                  <br>
                  Rush Yards: {{ game.ry }}
                  <br>
                  Rushing Touchdowns: {{ game.tdr }}
                  <br>
                </div>
                <p></p>
                <div class="col-sm-4 ">
                  <p></p>
                  Targets: {{ game.trg }}
                  <br>
                  Receptions: {{ game.rec }}
                  <br>
                  Receiving Yards: {{ game.recy }}
                  <br>
                  Receiving Touchdowns: {{ game.tdrec }}
                  <br>
                  Punt/Kickoff Returns: {{ game.ret }}
                  <br>
                  Return Yardage: {{ game.rety }}
                  <br>
                  Return Touchdowns: {{ game.tdret }}
                  <br>
                  Fumbles Lost: {{ game.fuml }}
                  <br>
                  Penalty Yardage: {{ game.peny }}
                  <br>
                  Snaps: {{ game.snp }}
                  <br>
                  NFL.com Fantasy Points: {{ game.fp }}
                  <br>
                  Fan Duel Fantasy Points: {{ game.fp2 }}
                  <br>
                  Draft Kings Fantasy Points: {{ game.fp3 }}
                  <br>
                </div>
                </div>
                <hr>
                <p></p>
              {% endfor %}
          {% endif %}
          {% if player.type == 2 %}
          {% for game in player.dStyle %}
          <div class="row">
            <h2> Season: {{ game.year }} </h2>
            <div class="col-sm-4">
              <br>
              Week Number: {{ game.game }}
              <br>
              Team: {{ game.team }}
              <br>
              Game ID: {{ game.gid }}
              <br>
              Solo Tackles: {{ game.solo }}
              <br>
              Combined Tackles: {{ game.comb }}
              <br>
              Sacks: {{ game.sck }}
              <br>
              Safeties: {{ game.saf }}
              <br>
              Blocks: {{ game.blk }}
              <br>
              Interceptions: {{ game.ints }}
              <br>
              Passes Defended: {{ game.pdef }}
              <br>
              Fumbles recovered: {{ game.frcv }}
              <br>
              Fumbles Forced: {{ game.forc }}
              <br>
            </div>
            <p></p>
            <div class="col-sm-4 ">
              <p></p>
              Defensive Touchdowns: {{ game.tdd }}
              <br>
              Return Yardage: {{ game.rety }}
              <br>
              Return TDs: {{ game.tdret }}
              <br>
              Penalty Yardage: {{ game.peny }}
              <br>
              Snaps: {{ game.ret }}
              <br>
              NFL.com Fantasy Points: {{ game.snp }}
              <br>
              Fan Duel Fantasy Points: {{ game.fp }}
              <br>
              Draft Kings Fantasy Points: {{ game.fp2 }}
              <br>
            </div>
            </div>
            <hr>
            <p></p>
          {% endfor %}
          {% endif %}
        
      </div>
    <!-- </div> -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2> What People Think About This Player <small class="float-right">{{ reviews.count() }} comments</small></h2>
    <ul class="media-list">
      {% for review in reviews %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ review.date }}</small>
          </span>
          <a href="{{ url_for('main.user_detail', username=review.commenter.username) }}">
            <strong>@{{ review.commenter.username }}</strong>
          </a>
          <br> {{ review.content }}
          <br> <b>Draft Round</b> {{review.draftRound}}
          <br> <b>Rating</b> {{review.rating}}
          <br> <b>Play again?</b> {{review.playAgain}}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated %}
{# player review submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.text.label }}
        {{ form.text(class="form-control") }}

        {% if form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

        {{ form.draftRound.label }}
        {{ form.draftRound(class="form-control") }}

        {% if form.draftRound.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.draftRound.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

        {{ form.rating.label }}
        {{ form.rating(class="form-control") }}

        {% if form.rating.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.playAgain.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}


        {{ form.playAgain.label }}
        {{ form.playAgain(class="form-control") }}

        {% if form.playAgain.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in form.playAgain.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}