{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p><b>Error Message: {{ error_msg.message }}</b></p>
    <p><b>Status Code: {{ error_msg.status_code }}</b></p>
{% endif %}

<div class="container">
    <h2>Here are you search results:</h2>
    <p></p>
    {% for r in results %}
    <div>
        <h6>
            <a href="{{ url_for('football.player_detail', player_id=r.player_id) }}">
                {{ r.fullname }}
            </a> 
            Position: {{ r.pos1 }} |
            Shirt Number:{{ r.jnum }} | From: {{ r.col }}
        </h6>
        <hr>
        <p></p>
    </div>
    {% endfor %}
</div>
<a href="{{ url_for('main.index') }}">Back</a>
{% endblock %}
